:host {
  display: block;
  --header-height: 72px;
  --footer-height: 52px;
}

.app-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.app-content.with-chrome {
  top: var(--header-height);
  bottom: var(--footer-height);
  height: auto;
}
