services:
  api:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.api
    container_name: scanflow-api
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
    restart: unless-stopped

  worker:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.worker
    container_name: scanflow-worker
    environment:
      DOTNET_ENVIRONMENT: Development
    restart: unless-stopped
    depends_on:
      - api
